#projectItem {
    position: relative;
    display: flex;
    align-items: center;
    height: 200px;
}

#projectItem #description {
    padding: 1rem;
}

#projectItem #header {
    width: 100%;
    position: absolute;
    top: 10px;
}

#projectItem #footnote {
    position: absolute;
    width: 100%;
    bottom: 0;
}

